{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column mt-5 text-white">
    <h3>{% trans "비밀번호 초기화" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "비밀번호를 잊으셨다면, 이메일을 입력해주세요. <br>초기화를 위한 비밀번호를 보내드리겠습니다." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" class="login__btn btn-sm btn-light" value="{% trans '비밀번호 초기화' %}" />
    </form>
    <p>{% blocktrans %}궁금한 거 있으면 연락주세요 *^^*{% endblocktrans %}</p>
</div>
    
{% endblock %}