{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">

<div class="detail">
    <span style="font-size: 50px;font-weight: bold;color:rgb(255,187,0)">{{game.mode}}</span><span style="font-size:20px;">를 가진 사람이 이깁니다!</span><br><br>
    <div class="attdef">
    <div class="card border-warning mb-3" style="width: 22rem; height: 35rem;">
        {% if game.victory_user.username == game.attack.attack_user.username %}
            <span class="card-header" style="color:firebrick;font-size: 50px; margin-bottom:-30px;"  > WIN!</span>
            <div>
                <img src="{% static 'src/win.png' %}" width=320 height=300 style="margin-left:15px" />
              </div>
            {% else %}
            <span class="card-header" style="color:dodgerblue;font-size: 50px; margin-bottom:-30px;" > DEFEAT</span>
            <div>
                <img src="{% static 'src/lose.png' %}" width=320 height=300 style="margin-left:20px" />
              </div>
            {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{game.attack.attack_user}}</h5>
          <p class="card-text">
              {{game.attack.attack_user}}이 공격했습니다!<br>
              {{game.attack.attack_user}}은 숫자 {{game.attack.num}}을 골랐습니다!</p>
              <button type="button" id="btn-open-popup" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#modalwhite">More</button>
        </div>
      </div>

      <div class="card border-warning mb-3" style="width: 22rem;height: 35rem;">
        {% if game.victory_user.username == game.defense.defense_user.username %}
        <span class="card-header" style="color:firebrick;font-size: 50px; margin-bottom:-30px;" > WIN!</span>
        <div>
            <img src="{% static 'src/win.png' %}" width=320 height=300 style="margin-left:15px" />
          </div>
        {% else %}
        <span class="card-header" style="color:dodgerblue;font-size: 50px; margin-bottom:-30px;"  > DEFEAT</span>
        <div>
            <img src="{% static 'src/lose.png' %}" width=320 height=300 style="margin-left:20px" />
          </div>
        {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{game.defense.defense_user}}</h5>
          <p class="card-text">{{game.defense.defense_user}}가 방어했습니다!<br>
            {{game.defense.defense_user}}은 숫자 {{game.defense.num}}을 골랐습니다!
        </p>
        <button type="button" id="btn-open-popup" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#modalwhite">More</button>
        </div>
      </div>
    </div>

    <div id="source" style="background: none!important;">
        <span class="status">현재 게임은 {{game.status}}났습니다!</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
       <span class="text">
        {% if game.victory_user.username == current_user.username %}
        {{current_user.username}}의 결과는 <span style="font-size: 20px;font-weight: bold;color:firebrick" >승리!</span>
    {% if game.attack.attack_user.username == current_user.username %}
    <span>이번 게임에서 <span style="color:rgb(255,187,0)">{{game.attack.num}}</span>점을 얻었습니다</span>
    {% elif game.defense.defense_user.username == current_user.username %} 
    <span>이번 게임에서 <span style="color:rgb(255,187,0)">{{game.defense.num}}</span>점을 얻었습니다</span>
    {% endif %}
   
    {% else %}
    {{current_user.username}}의 결과는 <span span style="font-size: 20px;font-weight: bold;color:dodgerblue;"> 패배!</span>
    {% if game.attack.attack_user.username == current_user.username %}
    <span>이번 게임에서 <span style="color:rgb(255,187,0)">{{game.attack.num}}</span>점을 잃었습니다</span>
    {% elif game.defense.defense_user.username == current_user.username %} 
    <span>이번 게임에서 <span style="color:rgb(255,187,0)">{{game.defense.num}}</span>점을 잃었습니다</span><br>
    {% endif %}
    {% endif %}
  </span>
    <div>
    <a href="{% url 'cardgame:list_game' %}"><button type="button" class="btn btn-outline-success">전적목록</button></a>
</div>
    </div>
</div>
    
<div class="modal" id="modalwhite">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">게임 정보</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>이긴 사람은 그 숫자 만큼 점수를 얻고, 진 사람은 그 숫자 만큼 점수를 잃습니다.</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" id="btn_close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}