{% extends 'base.html' %}
{% block content %}
<div class="detail">

    <span>{{game.attack.attack_user}}vs{{game.defense.defense_user}}</span><br>
    
    {% if game.attack.attack_user.username == current_user.username %}
    <span>{{game.status}}...</span>
    <span>나:{{game.attack.num}}</span>
    <a href="{% url 'cardgame:delete_game' pk=game.id%}"><button>게임 취소</button></a>
    {% elif game.defense.defense_user.username == current_user.username %}
    
    <a href="#"><button>대응하기</button></a>
    {% endif %}

 
    <a href="{% url 'cardgame:list_game' %}"><button>전적 목록</button></a>
</div>


{% endblock %}