{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script defer src="{% static 'js/loader.js' %}"></script>
{% endblock %}
{% block content %}

<!-- <div class="loader__container" id="loader__container">
    <div class="" id="loader">
        <h3 style="color: white;">Loading...</h3>
        <img src="{% static 'src/loading.gif' %}" style="width: 100vh; height: 60vh;" id="loader"alt="">
    </div>
</div> -->
<div class="main__container" id="wrapper">
    <img src="{% static 'src/main-bg.png' %}" style="width:56vh; padding-bottom: 2rem;" alt="">
    <div class="title__container">
        <h3 style="color: white;">전 세계 피로그래머와 한 판 승부!</h3>
        <h1> PIROGRAM CARDGAME</h1>
        {% if request.user.is_authenticated %}
        <h5><span>{{request.user}}</span> 님이 로그인 중</h5>
    </div>  
    <div class="nav-button__container">
        <a href="{% url 'cardgame:attack_game' %}">게임하기</a>
        <a href="{% url 'cardgame:list_game'%}">전적보기</a>
    </div>
    {% else %}
    <div class="nav-button__container">
        <a href="{% url 'account_login' %}">게임하기</a>
    </div>
    {% endif %}
</div>
{% endblock%}
