{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user_ranking.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="users__container">
        <h2 class="title">✨ <span>PIRO</span> 명예의전당 ✨</h2>
            
            <div class="user_list">
                <div class="user_list_title">
                    <h4>Rank</h4>
                    <h4>USER</h4>
                    <h4>SCORE</h4>
                </div>
                {% for user in user_list %}
                <div class="user">
                    <h4>{{user.1}}</h4>
                    <h4 class="user__name">{{user.0.username}}</h4>
                    <h4 class="user__point">{{user.0.point}}</h4>
                </div>
                {% endfor %}
            </div>

        <a href="{% url 'cardgame:list_game' %}" class="btn list__btn">전적 목록</a>
    </div>
</div>
{% endblock%}